<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/boostrap-icons/font/bootstrap-icons.min.css">

    <title>Document</title>
</head>
<nav class="navbar navbar-expand-lg bg-white shadow-sm">
    <div class="container">
        <a href="/" class="navbar-brand">
            <i class="bi bi-card-text"></i> BlogApp
        </a>
    </div>
</nav>
<body>
    <div class="container mt-3">
     @RenderBody()
    </div>

</body>
</html>