@model Product
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Home" asp-action="Edit" method="post" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>
    <input type="hidden" asp-for="ProductId">
    <div class="mb-3">
        <label asp-for="BookName" class="form-label"></label>
        <input asp-for="BookName" class="form-control">
        <span asp-validation-for="BookName"></span>
    </div>
    <div class="mb-3">
        <label asp-for="PageCount" class="form-label"></label>
        <input asp-for="PageCount" class="form-control">
        <span asp-validation-for="PageCount"></span>
    </div>
    <div class="input-group mb-3">
       <input type="file" name="imageFile" id="imageFile" class="form-control">
    </div>
     <img src="~/img/@Model.Image" alt="" style="width: 80px;">
     <input type="hidden" asp-for="@Model.Image">
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select">
            <option value="">Hepsi</option>
        </select>
        <span asp-validation-for="CategoryId"></span>
    </div>
    <div class="mb-3 form-check">
        <input asp-for="IsActive" class="form-check-input">
        <label asp-for="IsActive" class="form-check-label">IsActive</label>
        <span asp-validation-for="IsActive"></span>
    </div>

    <button type="submit" class="btn btn-primary">Kaydet</button>
</form>
