@model PrdouctViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="card card-body my-2">
    <form asp-action="Index" method="get">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <select name="category" class="form-select" 
                    asp-items="@(new SelectList(Model.Categories,"CategoryId","Name",Model.SelectedCategory))" >
                        <option value="0">Hepsi</option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Filtrele</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="row container">
        @foreach(var book in @Model.Products){
            @if(book.IsActive){
            <div class="col-md-3 mb-2" style="width: 18rem;">
                <div class="card">
                    <img src="~/img/@book.Image" alt="" class="card-img-top img-fluid mt-1" style="height: 200px; object-fit: contain;">
                    <div class="card-body">
                        <h5 class="card-title">@book.BookName</h5>
                        <p class="card-text">Sayfa: @book.PageCount</p>
                        <a href="/Home/Details/@book.ProductId" class="btn btn-primary">Detay</a>
                    </div>
                </div>
            </div>
            }
        }
</div>
