@model Bootcamp

<p> 
    <b>@Model.Baslik</b> isimli bootcampi silmek istiyor musun?

    <form action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.KursId">
        <button type="submit" class="btn btn-danger">Evet</button>
        <a asp-action="Index" class="btn btn-primary">Hayır</a>
    </form>
</p>